

body {
    background: #fffde8;
    background-blend-mode: normal;
}

.navbar {
    background-color: rgb(255, 255, 102);
    overflow: hidden;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: poppins ;
}

.navbar a:hover {
    color: red;
}

.navbar a#account-link {
    float: right;
}

.navbar a#account-link img {
    height: 35px; /* Adjust the height as desired */
    width: auto; /* Maintain aspect ratio */
    vertical-align: middle; /* Align the image vertically */
    margin-right: 5px; /* Add a margin between the image and text */
}

.logo {
    position: absolute;
    top: 60px;
    width: auto;
    height: 35px;
    font-family: Poppins ;
    font-size: 55px;
    font-weight: 800;
}



.camera {
    position: absolute;
    left: 700px;
    top: 400px;
    width: 80px;
    height: 80px;
}

.cam {
    position: absolute;
    top: -140px;
    left: 150px;
}

 #account-link {
      transition: transform 0.3s ease-in-out;
}

#account-link:hover {
    transform: scale(1.5); /* Increase the scale to enlarge the image */
}

/* style.css */
.camera .cam .hover-image {
    display: none;
  }
  
  .camera .cam:hover .hover-image {
    display: inline-block;
  }
  
  .camera .cam:hover .default-image {
    display: none;
  }

  .text  {
    text-align: left;
    font-family: poppins;
    margin-top: 300px;
    margin-left: 10px;
  }

  .card {
    border-radius: 15px;
    padding: 10px;
    background-image: url(img/card1.svg);
    background-size: cover;
    background-position: center;
    margin-left: 5px;
    margin-top: 150px;
    box-shadow: 8px 9px 8px rgba(100,100,100,0.5);
    
}
 
  
  .card-title {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    font-family: poppins ;
  }

  .info-card1 {
    font-family: poppins;
    color: #ffffff;
    font-size: 26px;
  }

  button {
    display: inline-block;
    border-radius: 4px;
    background-color: #ffffff;
    border: none;
    color: #000000;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    padding: 16px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
   }
   
   button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
   }
   
   button span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
   }
   
   button:hover span {
    padding-right: 15px;
   }
   
   button:hover span:after {
    opacity: 1;
    right: 0;
   }

.form {
     border-radius: 4px;
     background-color: #ffffff;
     position: absolute;
     font-family: poppins;
  


  
  
  
  
  
